$colorGreen: #4AB873;

.handler,
.reverb-handler {
    &:hover {
        cursor: pointer;
    }
}

.reverb-button {


    &:hover {
        cursor: pointer;

        text {
            fill: $colorGreen;
        }
    }
}